<!-- Navigation -->
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar  font-weight-bold text-green-dark" routerLink="/home">Home</a>

        <a class="navbar-nav text-center ml-auto  font-weight-bold text-green-dark" routerLink="/sobre">Sobre</a>
    </div>
</nav>

<!--body-->
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">

        <!--col Imagem Logo-->
        <div class="col-md-6 mb-5 mt-5 text-center">
            <img class="img-responsive" src="https://i.imgur.com/mN0WqIX.png" alt="Logo RaizAgro">
        </div>

        <!--col Form-->
        <div class="col-md-6 mt-5 mb-5 lh-5">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <h1 class="text-center text-green-dark m-3">Contato</h1>
                    <form>
                        <div class="form-group">
                            <label for="nome" class="text-green-dark">Nome:</label>
                            <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome">
                        </div>

                        <div class="form-group">
                            <label for="email" class="text-green-dark">E-mail:</label>
                            <input class="form-control" type="email" name="email" id="email"
                                placeholder="Digite seu E-mail">
                        </div>

                        <div class="form-group">
                            <label for="assunto" class="text-green-dark">Assunto:</label>
                            <textarea class="form-control" name="assunto" id="assunto" placeholder="Digite sua mensagem"
                                cols="30" rows="5" style="resize: none"></textarea>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="button" class="btn btn-success btnHome">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
</div>