<!-- Navigation -->
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar text-white font-weight-bold" routerLink="/home">Home</a>

        <a class="navbar-nav text-center ml-auto text-white font-weight-bold" routerLink="/contato">Contato</a>
    </div>
</nav>

<!--Header-->
<header class="container-fluid d-flex justify-content-center align-items-center">
    <div class="text-white">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h1 class="text-justify size-h1 font-weight-bold">RaizAgro</h1>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-md-12 d-flex justify-content-center">
                <h3>conexão direta ao campo</h3>
            </div>
        </div>
    </div>
</header>


<main>
    <!--Sobre-->
    <div class="container-sobre">
        <div class="item bg-green text-white">
            <h2 class="font-weight-bold size-h2 text-green-light">RaizAgro</h2>
            <p>Quem somos</p>
        </div>
        <div class="item">
            <p class="text-green-dark size-text-p">
                Raiz Agro é uma plataforma inspirada nos Objetivos de Desenvolvimento Sustentável da ONU, tem
                como propósito auxiliar a produtividade agrícola e a renda dos pequenos produtores de alimentos,
                particularmente das mulheres, povos indígenas, agricultores familiares, pastores e pescadores,
                conectando-os a possíveis consumidores de forma direta.
            </p>
        </div>
    </div>

    <!--Parceiros-->
    <div class="container-fluid">
        <div class="row text-center mt-2">
            <div class="col-md-12">
                <h2 class="font-weight-bold size-h2">Parceiros</h2>
            </div>
        </div>

        <!--Parceiros 1-->

        <div class="container-fluid d-flex justify-content-center container-card-par">
            <div class="card my-1 mx-1" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/Nld343F.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                        preencher o
                        conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <!--Parceiros 2-->

            <div class="card my-1 mx-1" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/Nld343F.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                        preencher o
                        conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <!--Parceiros 3-->

            <div class="card my-1 mx-1" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/Nld343F.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                        preencher o
                        conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <!--Parceiros 4-->

            <div class="card my-1 mx-1" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/Nld343F.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                        preencher o
                        conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <!--Parceiros 5-->

            <div class="card my-1 mx-1" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/Nld343F.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Título do card</h5>
                    <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer
                        preencher o
                        conteúdo do card.</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

        </div>
        <!--Equipe RaizAgro-->
        <div class="row container-fluid mt-2">
            <div class="col-md-12">
                <h2 class="font-weight-bold size-h2">
                    <p>Equipe</p>
                    <p class="text-green-light">RaizAgro</p>
                </h2>
                <p class="text-green-dark size-descricao">Projeto integrador Generation Brasil</p>
            </div>
        </div>

        <!--Equipe-->

        <div class="container-fluid d-flex justify-content-center mt-2 container-card">

            <!--Integrantes 1-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/Ybq7OSV.jpg" width="240px"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Witer Mendonça</h5>
                    <h5 class="card-title"> <a class="text-green-dark" href="mailTo:mendoncawiter@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/witermendonca" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/witermendonca/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 2-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/Ybq7OSV.jpg" width="240px"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Witer Mendonça</h5>
                    <h5 class="card-title"> <a class="text-green-dark" href="mailTo:mendoncawiter@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/witermendonca" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/witermendonca/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 3-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/Ybq7OSV.jpg" width="240px"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Witer Mendonça</h5>
                    <h5 class="card-title"> <a class="text-green-dark" href="mailTo:mendoncawiter@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/witermendonca" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/witermendonca/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 4-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/Ybq7OSV.jpg" width="240px"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Witer Mendonça</h5>
                    <h5 class="card-title"> <a class="text-green-dark" href="mailTo:mendoncawiter@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/witermendonca" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/witermendonca/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 5-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/Ybq7OSV.jpg" width="240px"
                    alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Witer Mendonça</h5>
                    <h5 class="card-title"> <a class="text-green-dark" href="mailTo:mendoncawiter@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/witermendonca" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/witermendonca/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

</main>