header {
  background-image: url(https://i.imgur.com/dYJTL39.jpg);
  height: 100vh;
  margin-top: -4rem;
}

.tra{
  background: transparent;
}

.bg-green{
  background-color: #21593b;
}

.container-sobre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.item{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 80px;

}
.container-card{
  flex-wrap: wrap;
}

.img-profile{
  width: 240px;
  height: 240px;
}

@media (max-width: 1000px) {
  
  .item{
      width: 100%;
      height: 50vh;
      padding: 30px;
  }
}
@media (max-width: 1335px) {
  .container-card-par{
      flex-wrap: wrap;
  }  
}

@media (min-width: 800px) {
  .size-h1{
      font-size: 100pt;
  }
  .size-h2{
      font-size: 70pt;
  }
  .size-descricao{
      font-size: 25pt;
  }
  .size-text-p{
      font-size: 20pt;
  }

}
.text-green-light{
  color: #54c286;
}
.text-green-dark{
  color: #21593b;
}
.size-social{
  font-size:35px;
  padding: 10px;
}
.linkedIn{
  color:  #0e76a8;
}
.linkedIn:hover{
  color: #108cc5;
}
.git{
  color: black;
}
.git:hover{
  color: gray;
}

.cor-a{
  cursor: pointer;

  text-decoration: none;

  color: #21593b;
}

.cor-a:hover{
  color: #54c286;
}