<div class="container-fluid img-bg">

    <div class="row align-items-center d-flex justify-content-center">
        <h1 class="mt-5 text-light">RaizAgro</h1>
        <div>
            <p class="text-light ml-5 mr-5 text-justify fonte">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eveniet, maxime? Totam nobis fugiat est enim id consequatur in voluptatibus iusto officia, deleniti
                obcaecati omnis, laboriosam illo esse at? Odit, corporis!</p>
        </div>

    </div>
    <div class="card-deck">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Quem somos</h5>
                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como uma
                    introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>

            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">O que fazemos</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma introdução a um
                    conteúdo adicional.</p>

            </div>
        </div>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Porquê fazemos</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução
                    a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura
                    igual, em ação.</p>

            </div>
        </div>

    </div>
    <div class="container-card">
        <div id="isa" class="card-s">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEo00v7384D4A/profile-displayphoto-shrink_200_200/0/1578173808548?e=1616630400&v=beta&t=xICoYBhvpyo_AEDIHqhIgLKSqa1HTKeGdnhEy7nbpko"
                alt="">
            <h3>Isabelle</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <div class="social">
                <a class="" href="https://github.com/isaozawa">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a class="" href="https://www.linkedin.com/in/isabelle-ozawa/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="yuri" class="card-s">
            <img src="https://i.imgur.com/qrwtr1M.jpg" alt="">
            <h3>Luccas</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <div class="social">
                <a href="https://github.com/LuccasYuridosSantos">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/luccasyuri/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="pamela" class="card-s">
            <img src="https://avatars.githubusercontent.com/u/74325515?s=460&u=0c6ce0b339638e7c1b6316156c7515810c3d184f&v=4"
                alt="">
            <h3>Pamela</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <div class="social">
                <a href="">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="tiago" class="card-s">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQH335NoR9Adxw/profile-displayphoto-shrink_200_200/0/1589931233269?e=1616630400&v=beta&t=Otv1Ts32K0nPy-QPN7nJkc2APl8f83GRFygMfWjZocU"
                alt="">
            <h3>Thiago</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <div class="social">
                <a href="https://github.com/ThiagoBarassa">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/thiago-barassa-9024561aa/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div id="ito" class="card-s">
            <img src="https://i.imgur.com/Ybq7OSV.jpg" alt="">
            <h3>Witer</h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <div class="social">
                <a href="https://github.com/witermendonca">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/witermendonca/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>