<!-- Navigation -->
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a class="navbar text-white font-weight-bold" routerLink="/home">Home</a>

        <a class="navbar-nav text-center ml-auto text-white font-weight-bold" routerLink="/contato">Contato</a>
    </div>
</nav>

<!--Header-->
<header class="container-fluid d-flex justify-content-center align-items-center">
    <div class="text-white">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h1 class="text-justify size-h1 font-weight-bold">RaizAgro</h1>
            </div>
        </div>
        <div class="row text-center ">
            <div class="col-md-12 d-flex justify-content-center">
                <h3>conexão direta ao campo</h3>
            </div>
        </div>
    </div>
</header>


<main>
    <!--Sobre-->
    <div class="container-sobre mt-2">
        <div class="item bg-green text-white">
            <h2 class="font-weight-bold size-h2 text-green-light">RaizAgro</h2>
            <p>Quem somos</p>
        </div>
        <div class="item">
            <p class="text-green-dark size-text-p">
                RaizAgro é uma plataforma inspirada nos Objetivos de Desenvolvimento Sustentável da ONU, tem
                como propósito auxiliar a produtividade agrícola e a renda dos pequenos produtores de alimentos,
                particularmente das mulheres, povos indígenas, agricultores familiares, pastores e pescadores,
                conectando-os a possíveis consumidores de forma direta.
            </p>
        </div>
    </div>

    <!--Parceiros-->
    <div class="container-fluid">
        <div class="row text-center mt-2">
            <div class="col-md-12">
                <h2 class="font-weight-bold size-h2">Parceiros</h2>
            </div>
        </div>

        <!--Parceiros 1-->

        <div class="container-fluid d-flex justify-content-center container-card-par">
            <div class="card my-1 mx-1" style="width: 18rem; height: 19rem;">
                <img class="card-img-top" src="https://i.imgur.com/TBHdjeB.jpg" alt="Imagem Ecompra">
                <div class="card-body">
                    <a href="#" class="cor-a">
                        <h5  class="card-title font-weight-bold">Eco.mpra</h5>
                    </a>
                </div>
            </div>

            <!--Parceiros 2-->
            <div class="card my-1 mx-1" style="width: 18rem; height: 19rem;">
                <img class="card-img-top" src="https://i.imgur.com/tn9k6md.png" alt="Imagem ColaborArt">
                <div class="card-body">
                    <a href="#" class="cor-a">
                        <h5  class="card-title font-weight-bold">ColaborArt</h5>
                    </a>
                </div>
            </div>

            <!--Parceiros 3-->
            <div class="card my-1 mx-1" style="width: 18rem; height: 19rem;">
                <img class="card-img-top" src="https://i.imgur.com/SkEJDk5.png" alt="Imagem Rural Sabor">
                <div class="card-body">
                    <a href="#" class="cor-a">
                        <h5  class="card-title font-weight-bold">Rural Sabor</h5>
                    </a>
                </div>
            </div>

            <!--Parceiros 4-->
            <div class="card my-1 mx-1" style="width: 18rem; height: 19rem;">
                <img class="card-img-top" src="https://i.imgur.com/l1gcgcz.jpg" alt="Imagem I-mei">
                <div class="card-body">
                    <a href="#" class="cor-a">
                        <h5 class="card-title font-weight-bold">I-mei</h5>
                    </a>
                </div>
            </div>

            <!--Parceiros 5-->
            <div class="card my-1 mx-1" style="width: 18rem; height: 19rem;">
                <img class="card-img-top" src="https://i.imgur.com/F78GQhT.jpg" alt="Imagem CONECTA+">
                <div class="card-body">
                    <a href="#" class="cor-a">
                        <h5  class="card-title font-weight-bold">CONECTA+</h5>
                    </a>
                </div>
            </div>

        </div>
        <!--Equipe RaizAgro-->
        <div class="row container-fluid mt-2">
            <div class="col-md-12">
                <h2 class="font-weight-bold size-h2">
                    <p>Equipe</p>
                    <p class="text-green-light">RaizAgro</p>
                </h2>
                <p class="text-green-dark size-descricao">Projeto integrador Generation Brasil</p>
            </div>
        </div>

        <!--Equipe-->

        <div class="container-fluid d-flex justify-content-center mt-2 container-card">

            <!--Integrantes 1-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/b9NX0Bk.jpg" width="240px" alt="Imagem Isa">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Isabelle Ozawa</h5>
                    <h5 class="card-title"> <a class="cor-a" href="mailTo:isa_ozawa@hotmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/isaozawa" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/isabelle-ozawa/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 2-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle " src="https://i.imgur.com/qrwtr1M.jpg" width="240px" height="240px"
                    alt="Imagem Luccas Yuri">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Luccas Santos</h5>
                    <h5 class="card-title"> <a class="cor-a" href="mailTo:luccas.yuri@hotmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/LuccasYuridosSantos/" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/luccasyuri/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 3-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle " src="https://i.imgur.com/CSKUJRo.jpg" width="240px"
                    alt="Imagem Pamela Souza">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Pamela Souza</h5>
                    <h5 class="card-title"> <a class="cor-a"
                            href="mailTo:pamelacsouza1990@hotmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/PamelaBoaz" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/pamela-souza-0a0872115/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 4-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/piYZqUN.jpg" width="240px"
                    alt="Imagem Thiago Barassa">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Thiago Barassa</h5>
                    <h5 class="card-title"> <a class="cor-a" href="mailTo:thiagobarassa@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/ThiagoBarassa" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/thiago-barassa-9024561aa/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <!--Integrantes 5-->

            <div class=" my-2 mx-2 text-center">
                <img class=" rounded-circle" src="https://i.imgur.com/Ybq7OSV.jpg" width="240px"
                    alt="Imagem Witer Mendonça">
                <div class="card-body">
                    <h5 class="card-title text-green-dark">Witer Mendonça</h5>
                    <h5 class="card-title"> <a class="cor-a" href="mailTo:mendoncawiter@gmail.com">Email</a>
                    </h5>
                    <a href="https://github.com/witermendonca" target="_blank">
                        <i class="fa fa-github size-social git" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/witermendonca/" target="_blank">
                        <i class="fa fa-linkedin-square size-social linkedIn" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

</main>

<app-footer></app-footer>