#imgHome {
    background-image: url('https://i.imgur.com/pLfS6Ev.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.btnHome{
    width:200px ;
    border-radius: 40px ;
}
