<div class="container-fluid fixed">
    <div class="row d-flex align-items-center ">
        <div class="col-md-6">
            <div class="imgLogo d-flex justify-content-center mt-5">
                <img src="https://i.imgur.com/mN0WqIX.png" alt="">
            </div>

            <div class="row d-flex justify-content-center ">
                <div class="col-md-6 text-center">
                <form>
                    <div class="form-group align-items-center mt-5">
                        <button type="button" class="btn btn-success btnHome">Cadastre-se</button>
                    </div>
                    <div class="form-group align-items-center mb-5">
                        <button type="button" class="btn btn-success btnHome" data-toggle="modal" data-target="#exampleModal">Entrar</button>
                    </div>
                </form>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-center" id="exampleModalLabel">Entrar</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                  <label for="exampleInputText">Usuario</label>
                                  <input type="text" class="form-control" id="usuario" aria-describedby="text" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Senha</label>
                                  <div class="input-group mb-3">
                                  <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon2">
                                  <div class="input-group-append">
                                    <button class="btn btn-outline-success" id="btn-senha" type="button"><i class="fa fa-eye" aria-hidden="true"></i></button>
                                  </div>
                                </div>
                                </div>
                              </form>
                            
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-success" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-success">Entrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
            
            
            <hr class="mt-5 mb-5">
            <div class="d-flex justify-content-center mt-5">
                <a routerLink="/sobre">
                    <p>
                        Sobre nós
                    </p>
                </a>
            </div>
            <div class="d-flex justify-content-center mb-5">
                <a routerLink="/contato">
                    <p>
                        Contato
                    </p>
                </a>
            </div>
            </div>
            </div>
        </div>
        <div class="col-md-6" id="imgHome">
        </div>

    </div>
</div>