<!--header Pagina Inicial-->
<div class="container-fluid">
    <div class="row d-flex align-items-center">
        <div class="col-md-6 ">
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-md-6 text-green-dark">
                    <h1>Seja bem vindo(a)</h1>
                    <h5>frase a definir</h5>
                </div>
            </div>
            <div class="row d-flex justify-content-center mb-5 mt-3">
                <div class="col-md-6">
                    <button class="btn text-green-dark border-green-dark bg-green-light text-bottom mb-2 mr-2"
                        data-toggle="modal" data-target="#nova-postagem">Nova
                        Postagem</button>
                    <a href="#section1" class="btn text-green-dark border-green-dark text-bottom-dark mb-2">Ver
                        Postagens</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <img class="img-fluid tam-img" src="https://i.imgur.com/kGgUia7.png" alt="RaizAgro">
        </div>
    </div>
</div>

<!-- Modal Nova Postagem -->
<div class="modal fade text-green-dark bd-example-modal-lg" id="nova-postagem" tabindex="-1" role="dialog"
    aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                <div class="form-grup">
                    <label for="titulo">Título</label>
                    <input [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo1" placeholder="Digite o Título">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-grup">
                    <label for="local">Localização</label>
                    <input [(ngModel)]='postagem.localizacao' type="text" class="form-control" id="local" placeholder="Ex: São Paulo - SP">
                </div>
            </div>
            </div>
                <div class="form-grup mt-2">
                    <label for="contato">Contato</label>
                    <textarea [(ngModel)]='postagem.contato' class="form-control" name="contato" id="contato" rows="2"
                        placeholder="Telefone / E-mail" style="resize: none"></textarea>
                </div>
                <div class="form-grup mt-2">
                    <label for="texto">Texto</label>
                    <textarea [(ngModel)]='postagem.descricao' class="form-control" name="texto" id="texto"
                    rows="3" style="resize: none" placeholder="Corpo do Post"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                <div class="form-grup mt-2">
                    <label for="foto">Link da Foto</label>
                    <input [(ngModel)]='postagem.foto' type="text" class="form-control" id="foto" placeholder="URL">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-grup mt-2">
                    <!--Yuri ja vou ate deixar aqui <a *ngIf="authService.adm()" data-dismiss="modal" routerLink='/tema'> ou cadastre um novo</a>:  -->
                    <label for="texto">Escolha um Tema <a  data-dismiss="modal" routerLink='/tema'> ou cadastre um novo</a>:</label>
                    <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()' aria-placeholder="Tema">
                        <option *ngFor='let item of listaTemas' value="{{item.id}}">
                            {{item.nome}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-outline-success" (click)='publicar()'
                    data-dismiss="modal">Publicar</button>
            </div> 
    </div>
</div>
</div>

<!--Menu Postagens *ngIf='listaPostagens.length != 0'-->
<div class="container  text-green-dark mb-5 mt-65" id="postagens">
    <span class="anchor" id="section1"></span>

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todas-postagens-tab"
                data-toggle="tab" href="#todas-postagens" role="tab" aria-controls="nav-todas-postagens"
                aria-selected="true">Todas
                Postagens</a>
            <a (click)='findByIdUsuario()' class="nav-item nav-link text-secondary font-weight-bold"
                id="nav-minhas-postagens-tab" data-toggle="tab" href="#minhas-postagens" role="tab"
                aria-controls="nav-minhas-postagens" aria-selected="false">Minhas
                Postagens</a>
            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagens-por-tema-tab"
                data-toggle="tab" href="#postagens-por-tema" role="tab" aria-controls="nav-postagens-por-tema"
                aria-selected="false">
                Por tema</a>
            <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagens-por-local-tab"
                data-toggle="tab" href="#postagens-por-local" role="tab" aria-controls="nav-postagens-por-local"
                aria-selected="false">
                Por Localização</a>
        </div>
    </nav>
    <!-- <h2 *ngIf='listaPostagens.length == 0' class="text-center text-secondary mt-5">
        Não existem postagens ainda...
    </h2> -->
    <!-- =================================================================================== -->
    <div class="tab-content mt-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todas-postagens" role="tabpanel"
            aria-labelledby="nav-todas-postagens-tab">
            <div class="row d-flex justify-content-center mt-5 mb-5">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" id="titulo"
                            placeholder="Digite um titulo de postagem para pesquisar" [(ngModel)]='tituloPost'
                            (keyup)='findByTituloPostagem()'>
                    </div>
                </div>
            </div>
            <div>
                <div *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                    <div class="card-body">
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <!--titulo-->
                                <h2 class="card-title">{{item.titulo}}</h2>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-lef ">
                                        <!--localização-->
                                        <p class="card-text">{{item.localizacao}}</p>
                                    </div>
                                    <!--tema postagem-->
                                    <div class="col-md-6 text-right ">
                                        <p class="card-text">Tema: {{item.tema.nome}}</p>
                                    </div>
                                </div>
                                <div class="row   align-items-center">
                                    <div class="col-md-12 ">
                                        <!--imagen-->
                                        <img src="{{item.foto}}" class="rounded  img-fluid">
                                    </div>
                                </div>
                                <!--descrição-->
                                <pre class=" mt-3">{{item.descricao}}</pre>
                                <hr>
                                <!--contato-->
                                <h4>Contato:</h4>
                                <pre class=" mt-3">{{item.contato}}</pre>
                                <hr>
                                <!--usuario-->
                                <p class="text-center card-text "><small class="text-muted"> by:
                                        {{item.usuario.nomeCompleto}}</small></p>
                                <!--data-->
                                <p class="text-center card-text"><small class="text-muted">
                                        {{item.dataPostagem | date: 'dd/MM/yyyy'}} às {{item.dataPostagem | date:
                                        'HH:mm'}}
                                    </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================================ -->

        <div class="tab-pane fade " id="minhas-postagens" role="tabpanel" aria-labelledby="nav-minhas-postagens-tab">
            <div>
                <div *ngFor='let item of user.postagem | orderBy : key : reverse'>
                    <div class="card-body">
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <!--titulo-->
                                <h2 class="card-title">{{item.titulo}}</h2>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-left">
                                        <!--localização-->
                                        <p class="card-text">{{item.localizacao}}</p>
                                    </div>
                                    <!--tema postagem-->
                                    <div class="col-md-6 text-right">
                                        <p class="card-text">Tema: {{item.tema.nome}}</p>
                                    </div>
                                </div>
                                <div class="row  d-flex justify-content-center align-items-center">
                                    <div class="col-md-12">
                                        <!--imagen-->
                                        <img src="{{item.foto}}" class="rounded img-fluid">
                                    </div>
                                </div>
                                <!--descrição-->
                                <pre class=" mt-3">{{item.descricao}}</pre>
                                <hr>
                                <!--contato-->
                                <h4>Contato:</h4>
                                <pre class=" mt-3">{{item.contato}}</pre>
                                <hr>
                                <!--data-->
                                <p class="text-center card-text"><small class="text-muted">
                                        {{item.dataPostagem | date: 'dd/MM/yyyy'}} às {{item.dataPostagem | date:
                                        'HH:mm'}}
                                    </small></p>

                                <div class="text-center">
                                    <a [routerLink]="['/postagem-edit', item.id]" class=" mr-3 btn btn-outline-success" href="">Editar</a>
                                    <a [routerLink]="['/postagem-delete', item.id]" class="btn btn-outline-danger" href="">Apagar</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================================================================================== -->

        <div class="tab-pane fade" id="postagens-por-tema" role="tabpanel" aria-labelledby="nav-postagens-por-tema-tab">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">

                    <div class="form-group mb-5">
                        <input type="text" class="form-control" id="tituloPesquisa"
                            placeholder="Digite um tema para pesquisar" [(ngModel)]='nomeTema'
                            (keyup)='findByNomeTema()'>
                    </div>

                </div>
            </div>
            <div *ngFor='let tema of listaTemas'>
                <div *ngFor='let item of tema.postagem | orderBy : key : reverse'>
                    <div class="card-body">
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <!--titulo-->
                                <h2 class="card-title">{{item.titulo}}</h2>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-left">
                                        <!--localização-->
                                        <p class="card-text">{{item.localizacao}}</p>
                                    </div>
                                </div>
                                <div class="row  d-flex justify-content-center align-items-center">
                                    <div class="col-md-12">
                                        <!--imagen-->
                                        <img src="{{item.foto}}" class="rounded  img-fluid">
                                    </div>
                                </div>
                                <!--descrição-->
                                <pre class=" mt-3">{{item.descricao}}</pre>
                                <hr>
                                <!--contato-->
                                <h4>Contato:</h4>
                                <pre class=" mt-3">{{item.contato}}</pre>
                                <hr>
                                <!--usuario-->
                                <p class="text-center card-text "><small class="text-muted"> by:
                                        {{item.usuario.nomeCompleto}}</small></p>
                                <!--data-->
                                <p class="text-center card-text"><small class="text-muted">
                                        {{item.dataPostagem | date: 'dd/MM/yyyy'}} às {{item.dataPostagem | date:
                                        'HH:mm'}}
                                    </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- =================================================================================== -->

        <div class="tab-pane fade" id="postagens-por-local" role="tabpanel"
            aria-labelledby="nav-postagens-por-local-tab">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4">

                    <div class="form-group mb-5">
                        <input type="text" class="form-control" id="tituloPesquisa"
                            placeholder="Digite uma localizacao para pesquisar" [(ngModel)]='localizacao'
                            (keyup)='findByLocalizacao()'>
                    </div>

                </div>
            </div>
            <div>
                <div *ngFor='let item of listaPostagens | orderBy : key : reverse'>
                    <div class="card-body">
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-8 col-md-10 mx-auto">
                                <!--titulo-->
                                <h2 class="card-title">{{item.titulo}}</h2>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-left">
                                        <!--localização-->
                                        <p class="card-text">{{item.localizacao}}</p>
                                    </div>
                                    <!--tema postagem-->
                                    <div class="col-md-6 text-right ">
                                        <p class="card-text">Tema: {{item.tema.nome}}</p>
                                    </div>
                                </div>
                                <div class="row  d-flex justify-content-center align-items-center">
                                    <div class="col-md-12">
                                        <!--imagen-->
                                        <img src="{{item.foto}}" class="rounded img-fluid">
                                    </div>
                                </div>


                                <!--descrição-->
                                <pre class=" mt-3">{{item.descricao}}</pre>

                                <hr>

                                <!--contato-->
                                <h4>Contato:</h4>
                                <pre class=" mt-3">{{item.contato}}</pre>

                                <hr>

                                <!--usuario-->
                                <p class="text-center card-text "><small class="text-muted"> by:
                                        {{item.usuario.nomeCompleto}}</small></p>

                                <!--data-->
                                <p class="text-center card-text"><small class="text-muted">
                                        {{item.dataPostagem | date: 'dd/MM/yyyy'}} às {{item.dataPostagem | date:
                                        'HH:mm'}}
                                    </small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>